body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
width: 100%;
background-color:rgb(219, 216, 216);
height: 60px;
}
main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    width: 80%;  
}
.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais {
    width: 20%;
    float: left;
}
.header-2 {
    background-color:black;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    border-bottom: 4px solid rgb(243, 221, 96);
}
.menu ul li {
    display: inline-block;
    color:violet;
    margin-left: 15px;
}
.menu ul li:hover {
    border-bottom: 2px dashed rgb(248, 3, 97);
}
.menu ul li a:hover {
    color: rgb(248, 3, 97);
}
.menu ul li a {
    color:violet;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    height: 30px;
    padding: 7px;
    width: 190px;
    margin-top: 16px;
    background-position: 96%;
    border: 3px solid rgb(243, 221, 96);
}
.col-100 {
    background-color:black;
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    display: inline-block;
    font-size: 8px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 30%;
    left: 2%;
}
button.slick-next {
    display: inline-block;
    font-size: 8px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 30%;
    right: 2%; 
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid white;
    width: 15px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 90%;
}
li.slick-active button {
    background: rgb(230, 104, 230);
}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}
.texto-destaque {
    text-align: center;
}
.texto-destaque strong {
    color:rgb(230, 104, 230);
}
.texto-destaque h1 {
    font-size: 30px;
    color:rgb(230, 104, 230);
}
.texto-destaque p {
    font-size: 15px;
    color:rgb(182, 121, 182);
}
.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}
.col-3-1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 5px;
    width: 29%;
    float: left;
    position: relative;
}
.col-3-2 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 29%;
    float: left;
    position: relative;
}
.col-3-3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 50px;
    width: 29%;
    float: left;
    position: relative;
}
.bloco-texto {
    margin-top: 3em;
}
h3 {
    font-weight: normal!important;
}
b {
    color:rgb(173, 72, 173);
}
.bloco-imagem {
    height: 300px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.bloco-imagens-texto {
    background-color:rgb(245, 236, 240)
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: black;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 5px;
    background:rgb(243, 221, 96);
}
.col-4-logo {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4-logo img {
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}
.col-4-logo img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    height: 100px;
}

.bloco-logos img {
    margin-top: 10px;
}
.col-4-footer {
    float: left;
    width: 25%;
    text-align: center;
    color: white;
}
.footer h3 {
    text-align: left;
}
.footer {
    background-image: url('../img/footer.png');
    color: white;
}

