body {
    width: 100%;
    height: 100%;
}
.menu-principal {
width: 100%;
background-color:rgb(219, 216, 216);
height: 60px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    width: 80%;  
}
.redes-sociais ul li {
    margin-left: 10px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais {
    width: 20%;
    float: left;
}